.booking {
      width: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      color: #1a1a1a;
}


.booking__container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 80px; 
}


.booking__title {
      margin-bottom: 50px;
      font-size: 46px;
      font-weight: 800;
      line-height: 1.2;
}


.booking__form {
      }


.booking__fieldset {
      }



.booking__fieldset--user-info {

      margin-bottom: 50px;
}



.booking__legend {
      margin-bottom: 20px;    
      font-weight: 800;
      line-height: 1.4;
}



.booking__group-info {
      display: flex;
      gap: 8px;
}



.booking__input {
      display: block;
      width: 100%;      
      max-width: 380px;
      height: 44px;
}


.booking__input--fullname {
      }


.booking__input--phone {
      }


.booking__input--ticket {
      }


.booking__fieldset--comedian {
      margin-bottom: 82px;
}


.booking__comedian-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
}


.booking__comedian {
      display: flex;
      align-items: center;
}


.booking__select {
      }


.booking__select--comedian{
      margin-right: 8px;
}


.booking__select--chield{
      margin-right: 18px;     
}      


.booking__hall {
      }


.booking__button {
      padding: 16px 36px;
}


.booking__button--submit {
    
}

