.event {
     
      width: 100%; /* не 100 vw, иначе скролл гориз не учитывается */
      min-height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: #000;
      background-image: url('../img/bg.jpg');
      background-size: cover;  /* чтоб  на весь экран картинка растянулась */
      background-position: center;
      color: #fff;
      padding: 80px 36px 80px;
      opacity: 1; /* отображается */
      visibility: visible;
      /* transition: opacity 0.5s, visibility 0.5s;    */
      /* display: none; */
}


.event__hidden{
      opacity: 0;  /* не отображается */ 
      visibility: hidden;  /* эмент скрывается но свое пространство занимает */
      position: absolute;
      width: 100%;
}


.event__title {
      margin-bottom: 50px;
      font-size: 100px;
      font-weight: 800;
      line-height: 1.2;
}


.event__info {
      display: flex;
      gap: 80px;
      align-items: center;
      margin-bottom: 62px;       
}


.event__info-item {
      font-size: 30px;
      line-height: 1.2;
}


.event__info-number {
      margin-right: 8px;
      font-size: 80px;
      font-weight: 800;
      line-height: 1.2;
}


.event__button {
      opacity: 1;       /* отображается */
      visibility: visible;
      font-size: 24px;
      line-height: 1.4; 
}


.event__button--hidden{
      opacity: 0;             /* скрывает */
      visibility: hidden;  /* элемент скрывается, но занимает место */
}


.event__button--reserve{
      margin-bottom: 24px;
      padding: 16px 36px;
      border-radius: 36px;
      background-color: #FFC119;
      color: #1A1A1A;
}


.event__button--edit {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px;
}


@media (max-width: 1024px) {
      .event__title{
            margin-bottom: 40px;
            font-size: 70px;
      } 

      .event__info {
            gap: 50px;
            margin-bottom: 45px;       
      }
      
      
      .event__info-item {
            font-size: 30px;
            line-height: 2;
      }
      
      
      .event__info-number {
            font-size: 50px; 
      }

      .event__button--reserve{
            font-size: 18px;
            margin-bottom: 20px;
      }
}


@media (max-width: 680px) {
      .event{
            padding: 80px 16px 60px;
      }

      .event__title{
            margin-bottom: 10px;
            font-size: 38px;
      } 

      .event__info{
            display: grid;
            grid-template-columns: max-content max-content;  /* ширина колонки будеи занитмать максимум воможное место*/ 
            gap: 10px;
            margin-bottom: 30px;
      }

      .event__button--reserve{
            margin-top: auto;
      }
}
